body {
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

button {
    margin-left: auto;
    margin-right: auto;
}

div#container {
    display: flex;
    border-color: black;
    background-color: white;
    block-size: 900px;
    flex-wrap: wrap;
}

