body {
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

button {
    margin-left: 898px;
    margin-bottom: 20px;
}

div#container {
    display: flex;
    background-color: white;
    flex-wrap: wrap;
    justify-content: center;
}

